html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primary-color: #F9F9FB;
    --secondary-color: #14141C;
    --accent-color: #1644BD;
    --theme-color: #EE7B11;
    --text-color:#9B8996;
    --extera-color:#2753c9;
    --acrodion-bg: #F1F1F5;
}

/* header */
header{
    background-image: linear-gradient(#FFFFFF 65%,#1644BD 35%);
    
}
nav{
    background-color: transparent;
    color: var(--secondary-color);
}
.navbar-brand{
    width: 120px;
    height: 47px;
    display: inline-block;
}

.navbar-toggler{
    height: max-content;
    border: 2px solid var(--theme-color);
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-toggler:hover{
    
    background-color: transparent;
}
.navbar-toggler:focus{
    
    box-shadow: none;
}
.navbar-toggler i{
    color: var(--theme-color);
}

#navbarSupportedContent{
    width: 100vw;
    left: 0;
    top: 56px;
    background-color: var(--primary-color);
}

.nav-link{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--secondary-color);
}
ul.dropdown-menu{
    max-width: 250px;
}
ul.dropdown-menu li:not(:last-child){
    border-bottom: 1px solid var(--secondary-color);
}


nav form{
    max-width: 100px;
}
nav form input{
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: var(--text-color);
    color: var(--secondary-color);
}
nav form button.btn{
    padding: 0;
}
nav form button i{
    font-size: 1.6rem;
    color: var(--primary-color);
}
.button-sign button{
    background-color: var(--theme-color);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
    border-radius: 10px;
}
.button-sign button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* --- */
.hero{
    height: max-content;
}
.content-hero{
    display: flex;
    background-image: url('assetes/images/svg/leftside-backlayer-icons.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.content-hero h2,.theme-head{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 5rem;
    color: var(--secondary-color);
}
.content-hero p,.theme-text{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.content-hero button,.them-btn{
    background-color: var(--theme-color);
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 10px;
    width: max-content;
}
.content-hero button:hover,.them-btn:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.image-hero{
    background-image: url('assetes/images/svg/right-image.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 550px;
}

/* -/ header */

/* main */

/* working process */
#working-process{
    background-image: url('assetes/images/image/dot-shape.png'),url('assetes/images/svg/service-backlayer.svg');
    background-repeat: no-repeat,no-repeat;
    background-size: auto,contain;
    background-position: top right,center center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#working-process .card-content{
    padding-top: 70px;
    display: flex;
}
#working-process .card{
    padding: 55px 60px;
}
#working-process .card .card-title,#product-doc .card .card-title{
    font-size: 2.4rem;
    font-weight: 700;
    padding: 15px 0;
    margin-bottom: 8px;
}
#working-process .card .card-subtitle{
    margin-top: 30px;
    font-size: 1.8rem;
}
#working-process .card p{
   font-size: 1.8rem;
}
#working-process .card img{
    width: 100px;
    height: 100px;
}
/* -/working process */

/* services */
#services{
    padding-top: 100px;
    padding-bottom: 100px;
}
#services .image-body{
    height: 435px;
    background-image: url('assetes/images/svg/our-service.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
#services .tag{
    padding-bottom: 30px;
}
#services .text{
    padding-bottom: 35px;
    padding-top: 25px;
}
#services ul.lists{
    /* padding-left: 0; */
}
#services ul.lists li{
    list-style-type: none;
    font-size: 2.3rem;
    font-weight: 600;
    padding-bottom: 25px;
}
#services ul.lists li i{
    margin-left: -23px;
    
}
/* -/services */

/* product doc */
#product-doc{
    background-color: var(--accent-color);
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('assetes/images/svg/portfolio-backoverlay.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
#product-doc h2{
    color: var(--primary-color);
}
#product-doc .tag{
    color: var(--theme-color);
}
#product-doc .card{
    padding: 55px 60px;
    background-color: transparent;
}
#product-doc .card .icon-box{
    background-color: var(--extera-color);
    width: max-content;
    height: max-content;
    border-radius: 50%;
    margin: auto;
}
#product-doc .card .card-text{
    color: var(--primary-color);
}
#product-doc .card .card-title{
    color: var(--primary-color);
}
#product-doc .card .icon-box i{
    font-size: 2.5rem;
    padding: 25px;
    color: var(--primary-color);
}
#product-doc .card .card-text{
    font-size: 1.8rem;
}
.slide-content::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.slide-content{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: scroll;
}
.slide-content .slide-items{
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    cursor: grab;
    
}
 .item{
    width: 300px;
    height: 200px;
}
/* -/product doc */

/* pricing section */
#pricingb{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('assetes/images/svg/price-plan-background-icons.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.tag-section{
    font-weight: 600;
    padding-bottom: 30px;
}
.toggole-switch{
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
/* toggol swetch */
.switch{
    display: inline-block;
    width: 50px;
    height: 20px;
    position: relative;
}
.switch .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-color);
    transition: 0.4s;
    border-radius: 35px;
}
.switch input{
    display: none;
}
.switch .slider::before{
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--extera-color);
    transition: 0.4s;
    border-radius: 50px;
}
.switch input:checked +.slider{
    background-color: var(--extera-color);
}
.switch input:checked + .slider::before{
    left: 30px;
    background-color: var(--theme-color);
}
/* -/toggol swetch */
.toggole-switch span{
    font-size: 1.8rem;
    font-weight: 700;
}
.save-tag{
    font-size: 1.4rem;
    color: var(--theme-color);
    position: relative;
}
.save-tag::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('assetes/icon/svg/price-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -26px;
}
.price-card{
    margin-top: 50px;
}
.card.price{
    
    padding: 55px 15px 48px;
}
.card.price .card-header{
    display: flex;
    background-color: transparent;
    background-image: url('assetes/icon/svg/price-overlay.svg');
    background-repeat: no-repeat;
    background-position: center 87px;
    border: 0;
}
.card.price .card-header span,.card.price .card-header p{
    font-size: 2.5rem;
    color: var(--text-color);
}
.card.price .card-header .tag{
    color: var(--theme-color);
}
.card.price .card-header .digit{
    position: relative;
}
.card.price .card-header .digit span{
    color: var(--secondary-color);
    font-size: 5.8rem;
    font-weight: 600;
}
.card.price .card-header .digit .dolar{
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: -10px;
    color: var(--text-color);
}
.card.price ul{
    margin-bottom: 10px;
    border: 0;
}
.card.price ul li{
    border: 0;
    padding-bottom: 18px;
    font-size: 2.5rem;
    font-weight: 600;
}
.card.price .card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.card.price .rebon{
    background-color: var(--theme-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 700;
    width: max-content;
    margin: auto;
    padding: 10px 12px;
    border-radius: 0 0 8px 8px;
    position: relative;
    /* transform: translateY(-74px); */
    margin-top: -74px;
    margin-bottom: 30px;
    /* top: -74px; */
}
.card.price .rebon::before{
    content: '';
    position: absolute;
    background-image: url('assetes/icon/svg/left-shape.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    left: -15px;
    top: -1px;
}
.card.price .rebon::after{
    content: '';
    position: absolute;
    background-image: url('assetes/icon/svg/right-shape.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    right: -15px;
    top: -1px;
}

/* -/pricing section */

/* faq */
#faq{
    padding-top: 100px;
    padding-bottom: 100px;
}
.accordion-item{
    border: 0;
    background-color: var(--acrodion-bg);
}
.accordion .accordion-item:first-child{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.accordion-header button{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    padding: 25px 30px;
    background-color: var(--acrodion-bg);
}
.accordion-button:not(.collapsed){
    color: var(--secondary-color);
    background-color: var(--acrodion-bg);
}
.accordion-header button:focus{
    outline: none;
    border: 0;
    box-shadow: none;
}
.accordion-body{
    font-size: 2.2rem;
    color: var(--text-color);
    line-height: 30px;
    padding: 0 30px 25px;
}
/* -/faq */



/* -/ main */



/* sm */
@media screen and (min-width: 577px){
    .position-sm-static{
        position: static !important;
    }
    .position-sm-relative{
        position: relative !important;
    }
    .position-sm-fixed{
        position: fixed !important;
    }
    .position-sm-absolute{
        position: absolute !important;
    }
    .position-sm-sticky{
        position: sticky !important;
    }

    
    .image-hero{
        min-height: 100%;
    }
    #services .image-body{
        height: 400px;
    }
}
/* md */
@media screen and (min-width: 769px){
    .position-md-static{
        position: static !important;
    }
    .position-md-relative{
        position: relative !important;
    }
    .position-md-fixed{
        position: fixed !important;
    }
    .position-md-absolute{
        position: absolute !important;
    }
    .position-md-sticky{
        position: sticky !important;
    }


    header{
        background-image: linear-gradient(90deg,#FFFFFF 65%,#1644BD 35%);
    }
    .content-hero h2,.theme-head{
        font-size: 4rem;
    }
    #services .image-body{
        height: 520px;
    }
    .item{
        width: 370px;
        height: 250px;
    }
   
}
/* lg */
@media screen and (min-width: 993px){
    .position-lg-static{
        position: static !important;
    }
    .position-lg-relative{
        position: relative !important;
    }
    .position-lg-fixed{
        position: fixed !important;
    }
    .position-lg-absolute{
        position: absolute !important;
    }
    .position-lg-sticky{
        position: sticky !important;
    }


    .button-sign button{
        font-size: 1.6rem;
    }
    #navbarSupportedContent{
        width: max-content;
        background-color: transparent;
    }
    nav form input{
        margin-right: 5px;
        width: 100%;
        background-color: transparent;
        color: var(--text-color);
    }
    .content-hero h2,.theme-head{
        font-size: 6rem;
        line-height: 6rem;
    }
     .item{
        width: 488px;
        height: 323px;
    }

}
/* xl */
@media screen and (min-width: 1200px){
    .position-xl-static{
        position: static !important;
    }
    .position-xl-relative{
        position: relative !important;
    }
    .position-xl-fixed{
        position: fixed !important;
    }
    .position-xl-absolute{
        position: absolute !important;
    }
    .position-xl-sticky{
        position: sticky !important;
    }


    .content-hero h2,.theme-head{
        font-size: 7.5rem;
        line-height: 7rem;
    }
    .card.price{
        padding: 55px 60px 48px;
    }
}
/* xxl */
@media screen and (min-width: 1401px){
    .position-xxl-static{
        position: static !important;
    }
    .position-xxl-relative{
        position: relative !important;
    }
    .position-xxl-fixed{
        position: fixed !important;
    }
    .position-xxl-absolute{
        position: absolute !important;
    }
    .position-xxl-sticky{
        position: sticky !important;
    }
}